@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

    :root {
        /* cores */
        --cor-primaria: #000000;
        --cor-secundaria: #f6f6f6;
        --cor-terciaria: #22D4FD;
        --cor-hover: #272727;  

        /* fontes */
        --fonte-titulo: 'Krona One', sans-serif;
        --fonte-texto: 'montserrat', sans-serif;
        --fonte-tamanho-titulo: 2.25rem ; 
        --fonte-tamanho-texto: 1.5rem;
    }

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 3% 0% 0% 15%;
    

}

.cabecalho__menu {
    display:flex;
    gap:80px;

}

.cabecalho__menu__link{
    font-family: var(--fonte-texto);
    font-size: var(--fonte-tamanho-texto);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;

}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction:column;
    gap:40px 61px;
}

.apresentacao__conteudo__titulo {
    font-size: var(--fonte-tamanho-titulo);
    font-family: var(--fonte-titulo);

}

.titulo-destaque{
    color:var(--cor-terciaria);
}

.apresentacao_conteudo__texto {
    font-size: var(--fonte-tamanho-texto);
    font-family: var(--fonte-texto);
}

.apresentacao___links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: var(--fonte-tamanho-texto);
}

.apresentacao___links___navegacao {
 
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 16px;
    width:50%;
    border-radius:8px;
    border: 2px solid var(--cor-terciaria);
    padding:21.5px 0;
    font-weight:600;
    color: var(--cor-secundaria);
    text-decoration: none;
    text-align:center;
    font-family: var(--fonte-texto);
    font-size: var(--fonte-tamanho-texto);
}

.apresentacao___links___navegacao:hover {
    background-color: var(--cor-hover);

}

.apresentacao__imagem {
    width: 50%
}

.rodape {
    text-align: center;
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-texto);
    font-size: var(--fonte-tamanho-texto);
    font-weight: 400;
    color: var(--cor-primaria);
    padding: 24px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 12%;
        width: auto
    }
    .cabecalho__menu{
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5% 5%;

    }
    
    .apresentacao__conteudo {
        width:auto
    }
}
